<div class="content">
    <img [src]="HeaderContent" alt="">
    <h1>Welcome to my First Website with Angular's Implementation</h1>
    <p>
        This Website is built by using Angular Framework. Its a bit simple website which will tell more about my skills and experience. Some of unique implementation of program
        applied only just for fun. Don't miss it 🎊
    </p>

    <h1 style="margin-top: 50px;">Website Features</h1>

    <div class="featurecontent">
        <div class="feature1">
            <h1>Counting System</h1>
            <img [src]="foodimage" [alt]="altimage">
            <button [routerLink]="'/counting'">See More</button>
        </div>

        <div class="feature1">
            <h1>CRUD Concept</h1>
            <img [src]="crudimage" [alt]="altimage">
            <button [routerLink]="'/CRUD'">See More</button>
        </div>

        <div class="feature1">
            <h1>Feature 3</h1>
            <img [src]="altimage" [alt]="altimage">
            <button>See More</button>
        </div>

        <div class="feature1">
            <h1>Feature 4</h1>
            <img [src]="altimage" [alt]="altimage">
            <button>See More</button>
        </div>
    </div>

    <div class="contentAboutMe">
        <div class="Information">
            <h1>Hello!!</h1>
            <h2>I am Kevin Petersen</h2>
            <h3>A college student of computer science in Bina
                Nusantara University that interest on developing
                Artificial Intelligence application. Not only that, i’m
                also eager and interest to learn a new things to
                contributing of the creation of innovative
                technology.</h3>

            <div class="buttonaboutme">
                <button [routerLink]="'/aboutme'">Learn more about me</button>
            </div>
        </div>

        <img [src]="programmer" alt="">
    </div>

    <!-- <div class="actions">
        <button (click)="learnMore()">Learn More</button>
    </div> -->
</div>
